## SQLite Database Management

Create a database, store your interesting movie names with the names of lead actor, actress, year of release and the director name. Once you have stored the details, then use any programming language of your choice to retrieve the details.

#### Importing required libraries

In [1]:
import sqlite3 as sql
import pandas as pd

#### Creating new SQLite database

In [2]:
connection=sql.connect('Movies_Database.db')
cursor=connection.cursor()

In [3]:
cursor.execute("DROP TABLE IF EXISTS Movies_Database")

#### Creating new table - movies

In [4]:
table = """ CREATE TABLE Movies(
            moiveName VARCHAR(50) NOT NULL,
            actorName CHAR(25) NOT NULL,
            actressName CHAR(25),
            yearOfRelease INT NOT NULL,
            directorName CHAR(25) NOT NULL
            );"""

In [5]:
cursor.execute(table)

In [6]:
query = ''' SELECT * FROM Movies'''
df = pd.read_sql_query(query, connection)
df

Empty DataFrame
Columns: [moiveName, actorName, actressName, yearOfRelease, directorName]
Index: []

#### Inserting data into movies table

In [7]:
cursor.execute('''INSERT INTO Movies VALUES ('The Space Between Us', 'Asa Butterfield', 'Britt Robertson', '2017','Peter Chelsom')''')
cursor.execute('''INSERT INTO Movies VALUES ('Moonshot', 'Cole Sprouse', 'Lana Condor', '2022','Christopher Winterbauer')''')
cursor.execute('''INSERT INTO Movies VALUES ('Vikram', 'Kamal Hassan, Fahad Fasil, Vijay Sethupathi', '', '2022','Lokesh Kanagaraj')''')
cursor.execute('''INSERT INTO Movies VALUES ('Marvel- Black Panther','Chadwick Boseman','','2018','Ryan Coogler')''')
cursor.execute('''INSERT INTO Movies VALUES ('The Maze Runner', 'Dylan OBrien,Will Poutler,Thomas Brodie-Sangster','Patricia Clarkson', '2014','Wes Ball')''')
cursor.execute('''INSERT INTO Movies VALUES ('To All The Bright Places', 'Justice Smith', 'Elle Fanning', '2020','Brett Haley')''')
cursor.execute('''INSERT INTO Movies VALUES ('Marvel- Spider Man No Way Home', 'Tom Holland', 'Zendaya', '2021 ','Jon Watts')''')
cursor.execute('''INSERT INTO Movies VALUES ('Marvel- Shang-Chi and The Legend of The Ten Rings', 'Simu Liu', 'Awkwafina', '2021',' Destin Daniel Cretton')''')
cursor.execute('''INSERT INTO Movies VALUES ('Marvel- Captain America', 'Ryan Reynolds, Dwayne Johnson', 'Gal Gadot', '2021',' Rawson Marshall Thurber')''')
cursor.execute('''INSERT INTO Movies VALUES ('Beast', 'Vijay', 'Pooja Hegde', '2022','Nelson')''')
cursor.execute('''INSERT INTO Movies VALUES ('Hridayam', 'Pranav Mohanlal', 'Kalyani Priyadarshan,Darshana Rajendran', '2021',' Vineeth Sreenivasan')''')

#### Displaying the table after inserting the values

In [8]:
query = ''' SELECT * FROM Movies'''
df = pd.read_sql_query(query, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
2,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
3,Marvel- Black Panther,Chadwick Boseman,,2018,Ryan Coogler
4,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball
5,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
6,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
7,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
8,Marvel- Captain America,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber
9,Beast,Vijay,Pooja Hegde,2022,Nelson
10,Hridayam,Pranav Mohanlal,"Kalyani Priyadarshan,Darshana Rajendran",2021,Vineeth Sreenivasan

#### Query-1: Sorting the movies table by yearOfRelease

In [9]:
query1 = ''' SELECT * FROM Movies ORDER BY 
    yearOfRelease DESC'''
df = pd.read_sql_query(query1, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
1,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
2,Beast,Vijay,Pooja Hegde,2022,Nelson
3,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
4,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
5,Marvel- Captain America,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber
6,Hridayam,Pranav Mohanlal,"Kalyani Priyadarshan,Darshana Rajendran",2021,Vineeth Sreenivasan
7,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
8,Marvel- Black Panther,Chadwick Boseman,,2018,Ryan Coogler
9,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
10,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball

#### Query-2: Updating the movies table by yearOfRelease

In [10]:
cursor.execute('''UPDATE Movies SET yearOfRelease = 2022 WHERE directorName == 'Vineeth Sreenivasan' ''')
df = pd.read_sql_query("SELECT * FROM Movies", connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
2,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
3,Marvel- Black Panther,Chadwick Boseman,,2018,Ryan Coogler
4,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball
5,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
6,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
7,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
8,Marvel- Captain America,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber
9,Beast,Vijay,Pooja Hegde,2022,Nelson
10,Hridayam,Pranav Mohanlal,"Kalyani Priyadarshan,Darshana Rajendran",2021,Vineeth Sreenivasan

#### Query-3: Selecting the movies which has yearOfRelease <= 2020

In [11]:
query3 = ''' SELECT * FROM Movies WHERE yearOfRelease <= 2020'''
df = pd.read_sql_query(query3, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Marvel- Black Panther,Chadwick Boseman,,2018,Ryan Coogler
2,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball
3,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley

#### Query-4: Selecting the movies which has No Actor or Actress Name

In [12]:
query4 = ''' SELECT * FROM Movies WHERE actorName ='' OR actressName =''  '''
df = pd.read_sql_query(query4, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
1,Marvel- Black Panther,Chadwick Boseman,,2018,Ryan Coogler

#### Query-5: Selecting the movie which was directed by Shawn Levy

In [13]:
query5 = ''' SELECT * FROM Movies WHERE directorName == 'Nelson' '''
df = pd.read_sql_query(query5, connection)
df

  moiveName actorName  actressName  yearOfRelease directorName
0     Beast     Vijay  Pooja Hegde           2022       Nelson

#### Query-6: Selecting only Marvel movies from the table

In [14]:
query6 = '''SELECT * FROM Movies WHERE moiveName LIKE '%Marvel%' '''
df = pd.read_sql_query(query6, connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,Marvel- Black Panther,Chadwick Boseman,,2018,Ryan Coogler
1,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
2,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
3,Marvel- Captain America,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber

#### Query-7: Deleting the movie  "Eternals"

In [15]:
cursor.execute('''DELETE FROM Movies WHERE moiveName == 'Marvel- Black Panther' ''')
df = pd.read_sql_query("SELECT * FROM Movies", connection)
df

,moiveName,actorName,actressName,yearOfRelease,directorName
0,The Space Between Us,Asa Butterfield,Britt Robertson,2017,Peter Chelsom
1,Moonshot,Cole Sprouse,Lana Condor,2022,Christopher Winterbauer
2,Vikram,"Kamal Hassan, Fahad Fasil, Vijay Sethupathi",,2022,Lokesh Kanagaraj
3,The Maze Runner,"Dylan OBrien,Will Poutler,Thomas Brodie-Sangster",Patricia Clarkson,2014,Wes Ball
4,To All The Bright Places,Justice Smith,Elle Fanning,2020,Brett Haley
5,Marvel- Spider Man No Way Home,Tom Holland,Zendaya,2021,Jon Watts
6,Marvel- Shang-Chi and The Legend of The Ten Rings,Simu Liu,Awkwafina,2021,Destin Daniel Cretton
7,Marvel- Captain America,"Ryan Reynolds, Dwayne Johnson",Gal Gadot,2021,Rawson Marshall Thurber
8,Beast,Vijay,Pooja Hegde,2022,Nelson
9,Hridayam,Pranav Mohanlal,"Kalyani Priyadarshan,Darshana Rajendran",2021,Vineeth Sreenivasan

#### Anantha Narayanan S V
#### E0119008
#### III Year, SRET